*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --theme-font1: #E61E43;
    --theme-font2: #124FAA;
    --theme-font3: #191E3B;
}

.ncont .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #D7D7D8;
    box-shadow: 0 2px 0.75rem rgba(12,14,28,.08);
}

.ncont .navbar .lsect{
    padding: 1rem;
    display: flex;
    align-items: center;
   
}

.ncont .navbar .lsect img{
    margin-right: 2rem;
    height: auto;
    width: 150px;
}


.ncont .navbar .lsect span{
    color: var(--theme-font1);
    font-size: 11pt;
    font-weight: 500;

}

.ncont .navbar .rsect{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ncont .navbar .rsect .getapp a{
    border: 1px solid #D7D7D8 ;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 11pt;
    font-weight: 600;
    margin-right: 2rem;
    padding: 10px 20px;

}

.ncont .navbar .rsect .menu a{
    text-decoration: none;
    color: var(--theme-font1);
    margin-right: 2rem;
    font-size: 11pt;
    font-weight: 500;
}


.layout {
    padding: 2rem 10.5rem;
}

.book h1{
    color: var(--theme-font3);
    font-size: 25pt;
    font-weight: 600;
}

.in-put{
    display: flex;
    padding: 1rem 0;
    align-items: center;
}

.in-put .field{
    border: 1px solid #959597;
    border-radius: 8px;
    padding: 15px 25px;
    margin-right: 1rem;
    width: 350px;
    color: var(--theme-font3);
}

.in-put .field .inpfield{
    border: none;
}

.in-put .searchbtn a{

    text-decoration: none;
    background-color: var(--theme-font2);
    border-radius: 25px;
    padding: 15px 20px;
    color: white;
    font-weight: 600;

}

.in-put .field input:focus{
    outline: none;
}

.offers{
    display: grid;
    grid-template-columns: 30% auto auto auto;
    padding: 2rem 1rem;
    background-color: var(--theme-font1);
    border-radius: 10px;
    margin-top: 2rem;
    color: white;
}

.offers .hline{
   font-size: 11pt;
}

.offers .off{
    display: flex;
    align-items: center;
    background-color: #A1122C;
    border-radius: 10px;
    margin-right: 1rem;
    height: 100%;
    padding: 2rem;
}

.offers .off .icon{
    font-size: 22pt;
    margin-right: 15px;
}


.stayops{
    padding: 2rem 0;
}


.stayops h2{
    color: var(--theme-font3);
    font-size: 21pt;
    font-weight: 600;
    padding: 2rem 0;
}

.stayops .clayout{
    display: flex ;
    flex-direction: row;
    align-items: center;
}

.stayops .clayout .card a{
    text-decoration: none;
    border: 1px solid #959597;
    border-radius: 50%;
    padding: 20px;
    font-size: 30pt;
    color: var(--theme-font2);
    margin-right: 1rem;
    
}

.stayops .clayout .card a:hover{
    background-color: #e1e8f5bd;
}

.stayops .clayout .card .title p{
    text-align: center;
    color: var(--theme-font3);
    font-size: 13pt;
    padding: 2rem 0;
}

.dest {
    padding: 0.5rem 0;
}

.dest h2{
    color: var(--theme-font3);
    font-size: 21pt;
    padding: 2rem 0;
    font-weight: 600;


}

.dest .card-layout{
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.dest .card-layout .dcards{
    border: 1px solid #959597;
    border-radius: 10px;
    margin-right: 1rem;
}

.dest .card-layout .dcards img{
    height:150px;
    width: 270px;
    border-radius: 10px 10px 0 0;
}

.dest .card-layout .dcards .dinfo{
    padding: 12px 10px;
}

.dest .card-layout .dcards .dinfo h4{
    color: var(--theme-font3);
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.dest .card-layout .dcards .dinfo small{
    color: var(--theme-font3);
    
}

.deals{
    padding: 1rem 0;
}

.deals .mline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme-font3);
    
}

.deals .mline a{
    text-decoration: none;
    background-color: var(--theme-font2);
    border-radius: 25px;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}

.deals .mline h2{
    font-size: 21pt;
    padding: 2rem 0;
    font-weight: 600;

}

.deals .card-layout{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.deals .card-layout .card-deals{
    margin-right: 1rem;
}


.deals .card-layout .card-deals img{
    height:200px;
    width: 270px;
    border-radius: 10px;
}

.deals .card-layout .card-deals .info-deals{
    display: flex;
    flex-direction: column;
    color: var(--theme-font3);
}

.info-deals p{
    padding: 10px 0;
    font-size: 11pt;
    font-weight: lighter;
}

.info-deals h5{
    padding: 5px 0;
    font-size: 12pt;
    
}

.info-deals h6{
    padding-bottom: 4px;
    font-size: 11pt;
}

.info-deals .price{
    display: flex;
    align-items: center;
    

}
.info-deals .price p{
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 3px;
}

.info-deals small{
    font-size: 8pt;
    color: #191e3bc9;
}

.info-deals a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 9pt;
    text-decoration: none;
    background-color: var(--theme-font1);
    padding: 3px 4px;
    text-align: center;
    width: 55px;
    border-radius: 6px;
}


.app-ad{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    border: 1px solid #cccccc91;
    border-radius: 10px;
    margin-top: 2rem;
}

.app-ad .img1 img{
    height: 340px;
    width:400px;
    border-radius: 10px 0 0 10px;
}

.app-ad .img2 img{
    height: 190px;
    width:190px;
    padding: 1rem;
}


.app-ad .app-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--theme-font3);
}

.app-ad .app-info h1{
    font-size: 27pt;
    font-weight: 600;
}

.app-ad .app-info ul{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 11pt;
}

::marker{
    font-size: 10px;
    
}

.app-ad .app-info p{
    margin-top: 3rem;
    font-size: 12pt;
    font-weight: 700;
}

.app-ad .app-info a{
    margin-top: 3rem;
    color: var(--theme-font2);
}



.footer{
    padding-top: 3rem;
    
}

.footer img{
    height: auto;
    width:150px;
    margin-bottom: 1rem;
}
.footer .navcols{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    
}

.navcols .top-nav{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.navcols .top-dest h4{
    color: var(--theme-font3);
    font-size: 12pt;
    font-weight: 500;
}

.navcols .top-dest .top-list{
    margin-top: 10px;
}

.top-dest .top-list li{
    list-style-type: none;
    margin-bottom: 10px;
}

.top-dest .top-list li a{
    text-decoration: none;
    color: var(--theme-font2);
    font-size: 9pt;
    font-weight: 500;
}

.top-dest .top-list li a:hover{
    text-decoration: underline;

}

.navcols .top-sett{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.foot-end{
    border-top: 1px solid #D7D7D8;
    padding: 1rem 0;
}

.foot-end p{
    font-size:9pt;
    color: var(--theme-font3);
}

.main .col{
    float:left;
    padding:10px 10px 10px 0;
}

.main .col.side{
    
    width: 20%;
}

.side .map{
    display: flex;
    flex-direction: column;
    border:1px solid #D7D7D8;
    border-radius: 1rem;
    width:100%;

}

.col.side .map img{
    height:120px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.col.side .map a{
    text-decoration: none;
    text-align: center;
    color: var(--theme-font2);
    padding: 10px 0;
    font-size: 10pt;
    font-weight: 500;
}

.col.side .map a:hover{
    text-decoration: underline;
}

.side .tog{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    border-radius: 1rem;
    border:1px solid #D7D7D8;
    padding: 8px 10px;
}

.side .tog a{
    text-decoration: none;
    color: var(--theme-font3);
    font-size: 11pt;
}

.side .tog i{
  
    color: #7b7c84;
    font-size: 20pt;
}

.side .prop{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #D7D7D8;
    border-bottom: 1px solid #D7D7D8;

}

.side h3{
    color: var(--theme-font3);
    font-weight: 600;
    font-size: 15pt;

}

.side .prop .search-1{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    border-radius: 10px;
    border:1px solid #818494;
    padding: 13px 12px;
}


.side .filter{
    margin-top: 1rem;
    

}
.side .filter .form_filter fieldset{
    border: none;
    margin-top: 1rem;
}

.filter h4{
    color: var(--theme-font3);
    font-size: 11pt;
    font-weight: 600;
    margin: 10px 0;
}

.filter .pop-fil{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

.filter .pop-fil label{
    color: var(--theme-font3);
    font-size: 11pt;
}

.filter .range{
    display: flex;
    gap: 0.5rem;
}

.filter .range .pri-range{
    display: flex;
    flex-direction: column;
    border: 1px solid #818494;
    padding: 5px 12px;
    width: 100px;
    border-radius: 10px;
}

.filter .range .pri-range label{
    font-size: 9pt;
    font-weight: 500;
}

.filter .range .pri-range input{
    border: none;
}

.filter .range .pri-range input:focus{
    outline: none;
}

.filter .slider{
    padding: 10px 0;
}

.filter .slider input{
    width: 100%;
}


.main .col.middle{
    width: 60%;
}
